.grading-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    flex-direction: column;
    padding: 15px 25px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
    transition-property: box-shadow;
    background: #0a0068;
    box-shadow: 0 0 25px #0a0068;
    cursor: pointer;
}

.grading-btn:hover{
    box-shadow: 0 0 5px #0a0068,
    0 0 25px #0a0068,
    0 0 50px #0a0068
}

.howto-title{
    color: white;
    text-align: center;
}

.howto-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
    max-width: 80%;
}



.howto-block{
    background-color: aliceblue;
    height: 18em;
    width: 12em;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px);
    transition: 0.3s ease-in-out;
}

#fill{
    cursor: pointer;
}

.howto-block h1{
    color: #06003a;
    font-weight: bold;
    margin-top: 0;
}

.howto-block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.howto-row:hover > .howto-block:not(:hover){
    scale: 0.95;
    opacity: 0.7;
}

.doporuceni-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px auto;
    max-width: 80%;
}

.doporuceni-block{
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33% - 40px);
    transition: 0.3s ease-in-out;
    text-align: center;
}

.doporuceni-block h1{
    color: #06003a;
    font-weight: bold;
    margin-top: 0;
}

.doporuceni-block:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.doporuceni-block img{
    max-width: 40%;
    border-radius: 50%;
    scale: 0.9;
}

.formular form{
    background-color: #f7f7f7;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.formular form label{
    display: block;
    color: #06003a;
    font-weight: bold;
    margin-bottom: 5px;
}

.formular form input[type="text"],
.formular form input[type="email"],
.formular textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.formular input[type="file"]{
    display: none;
}

.upload{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

form input[type="submit"] {
    padding: 15px 25px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
    transition-property: box-shadow;
    background: #0a0068;
    box-shadow: 0 0 25px #0a0068;
    cursor: pointer;
  }

form input[type="submit"]:hover {
    box-shadow: 0 0 5px #0a0068,
    0 0 25px #0a0068,
    0 0 50px #0a0068
}

textarea{
    resize: none;
}