h1{
    color : white;
    text-align: center;
}

.kosik-cont{
    display: flex;
    margin-top: 50px;
    color: #06003a;
    justify-content: space-around;
    flex-direction: row;
}

.kosik-left{
    width: 70%;
}

.kosik-souhrn{
    background-color: #f7f7f7;
    border-radius: 10px;
}

.kosik-celkove{
    position: sticky;
    background-color: #f7f7f7;
    width: 20%;
    border-radius: 10px;
    color: #06003a;
    max-height: 85vh;
    top: 100px;
    overflow: hidden;
    padding: 20px;
    
}

table{
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}

table th {
    border-bottom: 1px solid #ddd;
}

table td img {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
}

.kosik-doprava{
    background-color: #f7f7f7;
    border-radius: 10px;
    color: #06003a;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.kosik-celkove h2{
    margin: 10px 0;
    text-align: center;
}

h3{
    margin: 10px 0;
    text-align: center;
}

.kosik-doprava form {
    margin-top: 20px;
}

.kosik-doprava label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="radio"]:checked+label {
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-group{
    display: flex;
}

.form-osobniudaje label{
    display: block;
    margin-bottom: 5px;
}

.form-osobniudaje input{
    max-width: 95%;
}

button{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

footer{
    margin-top: 50px;
}