.stav{
    margin: 3rem 1rem;
    height: 100%;
    background-color: #0a0068;
    color: white;
}

.stav-doprava{
    
    width: 70%;
}

.doprava{
    margin: 3rem 1rem;
    background-color: #0a0068;
    color: white;
}

h1{
    text-align: center;
    margin: 1rem;
    color: white;
}

.bunka-img{
    width: 10%;
}

.bunka-img img{
    width: 100%;
}

.bunka-cena{
    text-align: center;
}

.bunka-mnozstvi{
    text-align: center;
}

#mnozstvi{
    width: 3em;
}

.checkout{
    color: white;
    background-color: #0a0068;
    margin-top: 3rem;
    width: 25%;
    text-align: center;
    justify-content: end;
}

.cena{
    align-content: center;
}

.kosik{
    display: flex;
    
}
