.stav{
    margin: 3rem 1rem;
    width: 70%;
    height: 100%;
    background-color: #0a0068;
    color: white;
}

h1{
    text-align: center;
    margin: 1rem;
    color: white;
}

.bunka-img{
    width: 10%;
}

.bunka-img img{
    width: 100%;
}

.bunka-cena{
    text-align: center;
}

.bunka-mnozstvi{
    text-align: center;
}

#mnozstvi{
    width: 3em;
}

