@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
  }
  

body {
    font-family: "Exo 2", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(252, 207, 214);
}

.logo{
    transition: transform 0.3s;
}

.logo:hover,
.logo:focus {
    transform: scale(1.2);
    cursor: pointer;
}
.bar a,
.cta,
a {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    color: #242424;
    text-decoration: none;
    font-size: 1.5em;
  }
  
.bar {
    list-style: none;
    display: flex;
    position: sticky;
}
  
.bar li {
    padding: 0px 20px;
}
  
.bar li a {
    transition: color 0.3s ease 0s;
}
  
.bar li a:hover,
.bar li a.active {
    color: #e24bfe;
}
  
.active:hover {
	color: #e24bfe;
}

.cta {
    padding: 9px 25px;
    background-color: rgb(226, 75, 254);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
  
.cta:hover {
    background-color: #b53ccb;
}
  
.carousel {
    overflow: hidden;
}
.carousel figure {
    position: relative;
    width: 200%; 
    margin: 0;
    animation: 10s slider infinite; 
}
.carousel figure img {
    float: left;
    width: 50%; 
}

@keyframes slider {
    0% {
        left: 0;
    }
    50% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

#pokemon{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 50px 0;
	font-family: "exo 2";
}

.lane{
	height: 0.5em;
	color: black;
	background-color: black;
	border-width: 0px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 5px rgb(146, 146, 146);
}

.cena{
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgb(252, 207, 214);
    padding: 5px;
    border-radius: 15px;
    margin-top: 0.5vw;
    cursor: pointer;
}

.product p{
    text-align: center;
}

.product img{
    width: 100%;
    height: 100%;
}