@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Exo 2', sans-serif;
    background-color: #06003a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #0a0068;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar li{
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: white;

}

.logo-nav {
    cursor: pointer;
    filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(255deg) brightness(103%) contrast(106%);
    transition: 0.3s;
}

.logo-nav:hover{
    scale: 1.2;

}

.link-nav:hover{
    background-color: #06003a;
}

.link-nav{
    transition: 0.3s;
    padding: 1.5vh;
}

.navbar{
    display: flex;

}

#cart-nav{
    scale: 1.2;
    cursor: pointer;
    margin-top: 0.5vh;
    
}


#cart-nav:hover{
    scale: 1.2;
}

.divider-cart{
    border-left: 1px solid grey;
    height: 3vh;
    margin-right: 3vh;
}

.banner{
    filter: blur(5px) grayscale(50%);
    height: 100%;
    width: 100%;
    
}

.banner-cont{
    position: relative;
}

.banner-textblock{
    position: absolute;
    top: 25%;
    left: 10%;
    flex-direction: column;
    color: white;
}

.banner-btn{
    position: absolute;
    top: 60%;
    left: 10%;
    flex-direction: column;
    padding: 15px 25px;
    border: none;
    font-size: 19px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.5s;
    transition-property: box-shadow;
    background: #0a0068;
    box-shadow: 0 0 25px #0a0068;
    cursor: pointer;
}

.banner-btn:hover{
    box-shadow: 0 0 5px #0a0068,
    0 0 25px #0a0068,
    0 0 50px #0a0068
}

.banner-title{
    font-size: 2em;
    font-weight: 700;
}