@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: pink;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .bar a,
  .cta,
  .overlay__content a {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    color: #242424;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .bar {
    list-style: none;
    display: flex;
  }
  
  .bar li {
    padding: 0px 20px;
  }
  
  .bar li a {
    transition: color 0.3s ease 0s;
  }
  
  .bar li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgb(95, 154, 170);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  